server:
  port: 8080

spring:
  application:
    name: invoice-guard
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console
  
  datasource:
    url: jdbc:h2:mem:invoice_db
    driver-class-name: org.h2.Driver


invoice:
  auto-approval-limit: 50000
